
.search-container {
  display: flex; 
  justify-content: center;
  align-items: center; 
  gap: 1rem; 
  margin-top: 1rem; 
}


.search-container select {
  padding: 0.5rem;
  border: 1px solid #444;
  border-radius: 4px;
  background-color: #333;
  color: #fff;
  font-size: 1rem;
}

.search-container input {
  border: 1px solid #444;
  border-radius: 4px;
  background-color: #333;
  color: #fff;
  font-size: 1rem;
  width: 200px;
}

.projects-list {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 24px;
  padding: 20px; 
}

.project-card {
  border: none;
  border-radius: 16px;
  padding: 20px;
  background: linear-gradient(145deg, #ffffff, #f0f0f0);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1); 
  text-decoration: none;
  color: #333;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column; 
  justify-content: space-between;
}

.project-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15); 
}

.project-card h3 {
  margin: 0 0 12px;
  font-size: 1.5rem; 
  color: #052950; 
}

.project-card p {
  margin: 8px 0;
  color: #555;
  font-size: 1rem;
  line-height: 1.5;
}

.project-card p strong {
  color: #333; 
}

/* Seção do rodapé do card */
.project-footer {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-footer button {
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  background: #052950; 
  color: #fff;
  font-size: 0.9rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.project-footer button:hover {
  background: #08396e; 
}

/* Responsividade para dispositivos menores */
@media (max-width: 768px) {
  .projects-list {
    grid-template-columns: 1fr; 
  }
}
